body {
    margin: 0;
    padding: 0;
}


.main-container {
    font-family: "Axiforma", Avenir, Helvetica, Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0 0 0 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    padding: 0;
    
}

.main-inner-container {
    width: 100%;
    height: 600px;
    padding: 2.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-container {
    width: 85%;
    height:450px;
    display: flex;
    justify-self: center;
    align-self: center;
    align-items: center;
}
.contain h3{
    font-size:2rem;
    margin-right: 53%;
    
    
}

.event-image {
    width: 570px; 
    height: 530px;
    object-fit: fill; 
    border-radius: 10px;
}


.data-body {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    
}

.data-body h3 {
    color: #000;
    font-size: 2rem;
    font-family: Axiforma;
    font-weight: 800;
    line-height: 0px;
}

.avatar-body {
    height: fit-content;
    display: flex;
    object-fit: fill;

}



.avatar-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
    margin-right: 15px;
}

.avatar-title span:nth-of-type(1) {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-size: 1.25rem;
    font-family: Axiforma;
    font-weight: 600;
}

.verified {
    width: 76px !important;
    height: 20px;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 5px;
    object-fit: filled;
}
.time-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 35px;
}

.time-container span {
    color: #3F3F3F;
    font-size: 1rem;
    font-family: Axiforma;
    letter-spacing: -0.005rem;
    text-transform: capitalize;
    line-height: 10px;
}

.time-container h3 {
    color: #000;
    font-size: 1.25rem;
    font-family: Axiforma;
    font-weight: 700;
    letter-spacing: -0.005rem;
    text-transform: capitalize;
    font-size: 16px;
}

.location-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.location-container span {
    color: #3F3F3F;
    font-size: 1rem;
    font-family: Axiforma;
    letter-spacing: -0.005rem;
    text-transform: capitalize;
    line-height: 10px;

}

.location-container h3 {
    color: #000;
    font-size: 1.25rem;
    font-family: Axiforma;
    font-weight: 700;
    letter-spacing: -0.005rem;
    text-transform: capitalize;
    line-height: 30px;
    text-align: left;
    font-size: 16px;
    text-decoration: underline;
}
.experience-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}
.experience-container span{
    color: #3F3F3F;
    font-size: 1rem;
    font-family: Axiforma;
    letter-spacing: -0.005rem;
    text-transform: capitalize;
    line-height: 10px; 
}
.experience-container p{
    color: #000;
    font-size: 1.25rem;
    font-family: Axiforma;
    font-weight: 100;
    letter-spacing: -0.005rem;
    text-transform: capitalize;
    line-height: 30px;
    text-align: left;
    font-size: 16px;
   /* max-height: 3em; /* Set the maximum height for three lines */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 3; /* Limit the text to three lines */
   -webkit-box-orient: vertical;
    
   
}
.info-container {
    display: flex;
    margin-top: 20px;
}

.guest-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
   
}
.contain h3{
      font-size:2rem;
      margin-top:100px;
      margin-left: 0px;
}

.guest-container span {
    color: #3F3F3F;
    font-size: 1rem;
    font-family: Axiforma;
    letter-spacing: -0.005rem;
    text-transform: capitalize;
    line-height: 5px;
}

.guest-container h3 {
    color: #000;
    font-size: 1.25rem;
    font-family: Axiforma;
    font-weight: 600;
    letter-spacing: -0.05rem;
    text-transform: capitalize;
    margin-top: 1.5rem;
    font-size:16px;
}

.invite-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 7.5rem;
}

.invite-container span {
    color: #3F3F3F;
    font-size: 0.875rem;
    font-family: Axiforma;
    letter-spacing: -0.005rem;
    text-transform: capitalize;
    line-height: 10px;
}

.invite-box{
    display: flex;
    align-items: center;
   
}

.invite-box img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 40px;
    border: 3px solid #FECE2F;
    margin-right: 10px;
    margin-top: 0.5rem;
}

.invite-box span {
    color: #000;
    text-align: center;
    font-size: 1rem;
    font-family: Axiforma;
    font-weight: 600;
}

.store-container {
    margin-top: 1.5rem;
    display: flex;
}

.store-container a img {
    width: 11.93838rem;
    height: 3.53731rem;
    margin-right: 2.83rem;
}

@media all and (max-width: 960px) {
    .data-container {
        width: 95% !important;
        height: fit-content;
        margin-top: 20px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
     
    }
    .contain h3{
      font-size:1.5rem;
      margin-top:180px;
      margin-right: 130px;
}

    .event-image {
        width: 100%;
        height:90%;
        align-self: center;
        object-fit: cover;
    }

    .data-body {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        
    }

    .data-body h3 {
        line-height: 40px;
        text-align: left;
    }

    .info-container {
        margin-top: 10px;
    }

    .guest-container {
        margin-top: 0.8rem;
    }

    .store-container {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .store-container a img {
        width: 10rem;
        margin-right: 0;
    }
   

    
    
   
}

/* CSS */
.button-21 {
align-items: center;
appearance: none;
background-color: #FECE2F;
background-size: calc(100% + 20px) calc(100% + 20px);
border-radius: 100px;
border-width: 0;
box-shadow: none;
box-sizing: border-box;
color: black;
cursor: pointer;
display: inline-flex;
font-family: "Axiforma", Avenir, Helvetica, Arial, sans-serif;
font-size: 1.5rem;
height: auto;
justify-content: center;
line-height: 1.3;
padding: 13px 100px;
position: relative ;
text-align: center;
text-decoration: none;
transition: background-color .2s,background-position .2s;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: top;
white-space: nowrap;
width:100%;
}
.sticky{
padding-bottom: 50px;
}

.button-21:active,
.button-21:focus {
outline: none;
}

.button-21:hover {
background-position: -20px -20px;
}

.button-21:focus:not(:active) {
box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

@media all and (max-width:30em){

.data-body {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    
}
.data-body h3 {
        line-height: 20px;
        text-align: left;
        font-size: 1.5rem;
    }
    .avatar-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align:left;
    margin-left: 10px;
    margin-right: 15px;
    font-size: 0.85rem;
}
.avatar-title img.verified {
    margin-left: 10px;

}
.avatar-title span:nth-of-type(1) {
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-size: 1.1rem;
    font-family: Axiforma;
    font-weight: 600;
}
.time-container h3 {
    color: #000;
    font-size: 1.1rem;
    font-family: Axiforma;
    font-weight: 700;
    letter-spacing: -0.005rem;
    text-transform: capitalize;
}
.location-container h3 {
    color: #000;
    font-size: 1.1rem;
    font-family: Axiforma;
    font-weight: 700;
    letter-spacing: -0.005rem;
    text-transform: capitalize;
    line-height: 20px;
    text-align: left;
}
.guest-container h3 {
    color: #000;
    font-size: 1.1rem;
    font-family: Axiforma;
    font-weight: 700;
    letter-spacing: -0.005rem;
    text-transform: capitalize;
    margin-top: 1.5rem;
}
.button-21{
    background-size:calc(100% + 20px) calc(100% + 20px);
    border-radius:30px;
    padding:16px 80px;
    position: sticky;
    font-size:1em;
    width:100%;
    display:flex;
    margin:1em auto;
}
.sticky {
    background-color: #ffffff;
    position: fixed;
    padding: 15px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
.guest-container{
  margin-bottom: 120px ;
}
.contain h3{
      font-size:1.5rem;
      margin-top:150px;
      margin-right: 150px;
}
.experience-container p{
    color: #000;
    font-size: 1.1rem;
    font-family: Axiforma;
    font-weight: 500;
    letter-spacing: -0.005rem;
    text-transform: capitalize;
    line-height: 20px;
    text-align: left;
    font-size: 16px;
   /* max-height: 3em; /* Set the maximum height for three lines */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 3; /* Limit the text to three lines */
   -webkit-box-orient: vertical;
    
   
}
.verified {
    width: 60px !important;
    height: 15px;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 5px;
    object-fit: fill;
}

}



/*navbar*/
.navbar {
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .navbar-logo {
    display: flex;
    align-items: center;
    width: 150px;
  }

  .logo-image {
    max-width: 100%;
    height: auto;
  }

  .logo-link {
    text-decoration: none;
  }

  /* Mobile responsive styles */
  @media only screen and (max-width: 600px) {
    .navbar {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 5px 20px; /* Adjust the padding as per your preference */
        background-color:#f8f8f8 ;
    }
   
    
    
    
    
    
    

    .navbar-logo {
      width: 120px;
    }
  }

  /*modal css*/

  .modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
    background-color: #000000da;
  }
  
  .modal {
    text-align: center;
    background-color: white;
    font-family: Axiforma;
    height: 147px;
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 30px;
    padding-bottom: 15px;
    border-radius: 20px;
}
  .modal h4{
    display:flex;
    font-family: Axiforma;
    justify-content: center;
    align-items: center;
    font-size:20px;
    padding-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
   
  }
  
  .close {
    margin: 20% 0 0 16px;
    position:fixed;
    padding:20px;
    right:32%;
    width:25px;
    cursor: pointer;
}
  
  p {
    font-size: 16px;
    margin: 20px 0;
    font-family: Axiforma;
  }
  .store-container {
          margin-top: 1rem;
          display: flex;
          
      }
   .store-container a img {
      width: 5rem;
      margin-right: 0;
      position: sticky;
      
      }
   .store-container {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: sticky;
      
      }
  
   .store-container a img {
       width: 11.93838rem;
       height: 3.53731rem;
       margin-right: 3.83rem;
       margin-left: 1rem;
       object-fit: contain;
      }
  
      @media screen and (max-width: 960px) {
        .modal {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: white;
            height: 240px;
            width: 230px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding-top: 0;
            padding-bottom: 5px;
            border-radius: 10px;
        }
        
        .store-container a img {
            width: 10.93838rem;
            height: 3.63731rem;
            margin-right: 1.83rem;
            margin-bottom: 1rem; /* Add margin-bottom to separate the store links */
            object-fit: contain;
        }
        .close {
            margin: 335px 0 0 16px;
             width:25px;
             padding: 20px;
             right: 20%;
             cursor: pointer;
        }      
        
      .store-container {
        width: 90%;
        height: 60px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
      }
      p {
       font-size: 6px;
       margin: 15px 0;
  }
  
  
  
  .modal h4{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:15px;
    padding-bottom: 120px;
    margin-left: 10px;
    margin-right: 10px;
   
  }
  
  
      }